<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.finalprojectsmartbustrackingsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        tools:ignore="BackgroundLocationPolicy" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProjectSmartBusTrackingSystem">
        <activity
            android:name=".Parent_Dashboard.ParentLiveTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".Parent_Dashboard.ParentDashboard"
            android:exported="false" />
        <activity
            android:name=".Driver_Dashboard.ActiveTripActivity"
            android:exported="false" />
        <activity
            android:name=".Driver_Dashboard.DriverAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard.BroadcastAlertsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard.LiveTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard.AssignDriverActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard.AssignPointsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard.DefineRouteActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard.AssignedStudentsListActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard.AssignStudentActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard.BusListActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard.AddBusActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard.ManageFleetActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard.AddParentActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard.ManageParentsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard.AddDriverActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard.ManageDriversActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard.ManageUsersActivity"
            android:exported="false" />
        <activity
            android:name=".Driver_Dashboard.DriverDashboard"
            android:exported="false"
            android:label="Driver Dashboard" />
        <activity
            android:name=".Admin_Dashboard.AdminDashboard"
            android:exported="false"
            android:label="Admin Dashboard" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_GOOGLE_MAPS_API_KEY_HERE" />

        <activity
            android:name=".Admin_Dashboard.LoginActivity"
            android:exported="true"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>